<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Book on Trigger</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  	<div class="form">
	  	<div class="mail"></div>
	  	<h1>Make a wish</h1>
	  	<form action="/request" method="POST" id="form">
	    	<input type="text" placeholder="Your name"/ name="name">
	    	<input type="email" placeholder="E-mail"/ name="email">
	    	<input type="tel" placeholder="Phone number"/ name="phone">
	    	<input type="text" placeholder="Source"/ name="src">
	    	<input type="text" placeholder="Destination"/ name="dest">
	    	<input type="date" placeholder="Date" / name="date">
	    	<input type="number" placeholder="No of people" / name="nop">
	    	<input type="number" placeholder="Total Budget"/ name="budget">
	    	<div class="submit">Send</div>
	  	</form>
	</div>

	<div class="ok_message">
		<span>
			We'll infrom if wish is fulfilled!
		</span>
	</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
